:root {
  font-family: 'Inter', monospace, sans-serif;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-one);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-one: #FFFFFF;
  --background-two: #F6F5F4;
  --button-hover: rgba(226, 226, 226, 0.8);
  --text-color: rgba(0, 0, 0, 0.87);
  --primary-color: #cc1203;
  --dim-stroke: rgba(171, 171, 171, 0.8);
  --bold-stroke: #000;
}

button {
  font-family: 'Inter', monospace, sans-serif;
  line-height: 1.5;
  border: 1px solid var(--bold-stroke);
  border-width: 0 1px;
  background-color: transparent;
  padding: 1rem 0.5rem;

  transition: all 0.3s ease-in-out;
}

button:hover {
  border-color: transparent;
  background-color: var(--button-hover);
  cursor: pointer;
}

[data-theme="dark"] {
  --background-color:#0F0F0F;
  --text-color: rgba(255, 255, 255, 0.87);
  --primary-color: #bb86fc;
  --dim-stroke: #545454;
  --bold-stroke: #FFF;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.25rem;
  padding-bottom: 0.25rem;
}